@import "../tools/mixins";
@import "../tools/breakpoints";


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  @include transition;
}



.page{
  position: relative;
  overflow-x: hidden;
}


// text classes
.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-left    { text-align: left;   }


.title-block{
  position: relative;
  margin-bottom: 25px;
  &.--modifier{
    margin-bottom: 50px;
  }
  &.--white{
    .title-block__subtitle{
      color: #d4d4d4;
    }
    .title-block__title{
      color: #fff;
    }
  }
  &__subtitle{
    display: block;
    opacity: 0.75;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    color: var(--col-grey);
    margin-bottom: 10px;
    @media (max-width: $breakpoint-sm){
      margin-bottom: 0;
      font-size: 18px;
    }
  }
  &__title{
    display: block;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: normal;
    color: var(--col-black);
    @media (max-width: $breakpoint-md){
      font-size: 45px;
    }
    @media (max-width: $breakpoint-sm){
      font-size: 36px;
    }
    span{
      font-weight: bold;
    }
  }
}


.text-block{
  margin-bottom: 25px;
  .app-txt + .app-txt {
    margin-top: 10px;
  }
}


.app-title-sm{
  display: block;
  font-family: 'Myriad Pro', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  color: var(--col-black);
  margin-bottom: 20px;
}


.app-txt{
  display: block;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.31;
  color: var(--col-grey);
  &.--white{
    color: #fff;
  }
}


.app-list{
  padding-left: 17px;
  list-style-type: disc;
  &.--modifier{
    li{
      padding-left: 5px;
      margin-bottom: 5px;
    }
  }
  li{
    display: list-item;
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

// end of text classes

.image{
  display: block;
  max-width: 100%;
}

.section{
  position: relative;
  padding: 60px 0 80px;
  &.--padding{
    padding: 60px 0 50px;
  }
  &.--background{
    background-color: #222;
  }
  &.--grey-background{
    background-color: var(--col-light-gray);
  }
  &.--ice-bg{
    background: url(../img/ice-bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}


.hidden{
  visibility: hidden;
  display: none;
}

.m-auto{
  display: block;
  margin: auto;
}

.mb-0 {   margin-bottom: 0;    }
.mb-10{  margin-bottom: 10px;  }
.mb-15{  margin-bottom: 15px;  }
.mb-25{  margin-bottom: 25px;  }
.mb-30{  margin-bottom: 30px;  }
.mb-40{  margin-bottom: 40px;  }
.mb-50{  margin-bottom: 50px;  }
.mb-45{  margin-bottom: 45px;  }
.mb-75{  margin-bottom: 75px;  }


.display-table{
  display: table;
  height: 100%;
  width: 100%;
  &__cell{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}



.tab-content {
  display: none;
  animation: fadeEffect .5s;
  -webkit-animation: fadeEffect .5s;
  &.active{
    display: block;
  }
}

@keyframes fadeEffect{from{opacity:0}to{opacity:1}};