@import "../tools/mixins";
@import "../tools/breakpoints";

.checkout{
  padding: 55px 0;
}

.checkout-head{
  &__column{
    position: relative;
    margin-bottom: 50px;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      right: 0;
      top: 18px;
      height: 3px;
      width: 100%;
      z-index: -1;
      background-color: #d8d8d8;
    }
    &:last-of-type{
      &:before, &:after{
        display: none;
      }
    }
    &.active{
      &:after{
        content: '';
        position: absolute;
        left: 50%;
        right: 0;
        top: 18px;
        height: 3px;
        width: 50%;
        z-index: -1;
        background-color: var(--col-primary);
      }
      .checkout-head__step{
        background-color: var(--col-primary);
      }
      .checkout-head__title{
        color: var(--col-primary);
      }
    }

    &.active:nth-child(2){
      &:after{
        left: 0;
        width: 100%;
      }
    }
    &.active:nth-child(3){
      &:after{
        display: block!important;
        content: '';
        position: absolute;
        left: 0;
        width: 50%;
        height: 3px;
        background-color: var(--col-primary);
        @media (max-width: $breakpoint-sm){
          display: none!important;
        }
      }
    }
    @media (max-width: $breakpoint-sm){
      display: none;
      &:before, &:after{
        display: none!important;
      }
      &.active{
        display: block!important;
      }
    }
    &.prev{
      .checkout-head__step{
        border: 1px solid var(--col-primary);
        color: var(--col-primary);
        background-color: #fff;
      }
      .checkout-head__title{
        color: var(--col-grey);
      }
      @media (max-width: $breakpoint-sm){
        display: none!important;
      }
    }

  }
  &__step{
    width: 40px;
    height: 40px;
    margin: auto auto 10px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-color: #d8d8d8;
  }
  &__title{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.39;
    color: #d8d8d8;
  }


}


.checkout-order{
  &__content{
    border: 1px solid #d4d4d4;
    padding: 15px 30px;
    margin-bottom: 40px;
  }
  &__block{
    padding-bottom: 15px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 15px;
  }
  &__row{
    &.--head{
      margin-bottom: 15px;
      @media (max-width: $breakpoint-md){
        display: none;
      }
      span{
        font-weight: 600;
        color: var(--col-black);
      }
    }
    span{
      display: block;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.25;
      text-align: left;
      color: var(--col-grey);
    }
    .column{
      &:nth-child(1){
        @include grid-size(33.33333%);
      }
      &:nth-child(2){
        @include grid-size(25%);
      }
      &:nth-child(3){
        @include grid-size(8.33333%);
      }
      &:nth-child(4){
        @include grid-size(16.66667%);
      }
      &:nth-child(5){
        @include grid-size(16.66667%);
      }

      @media (max-width: $breakpoint-md){
        @include grid-size(100%!important);
        padding-left: 90px;
        position: relative;
        &:before{
          content: attr(data-head) ": ";
          position: absolute;
          left: 0;
          font-size: 16px;
          font-weight: 600;
          color: var(--col-black);
        }
      }
    }
  }

  .checkout-total{
    margin-right: 90px;
    @media (max-width: $breakpoint-xl){
      margin-right: 0;
      .checkout-total__row{
        span:nth-child(1){
          text-align: left;
        }
      }
    }

  }

  &__total-row{
    @media (max-width: $breakpoint-xl){
      justify-content: left;
    }
  }

}

.checkout-total{
  width: 270px;
  &__row{
    span{
      display: block;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.56;
      color: var(--col-grey);
    }
    span:nth-child(1){
      @include grid-size(200px);
      text-align: right;
      font-weight: 600;
      color: var(--col-black);
    }
    span:nth-child(2){
      @include grid-size(100px);
      text-align: left;
    }
  }
}