@import "../tools/mixins";
@import "../tools/breakpoints";


.home-screen{
  padding-top: 135px;
  height: 100vh;
  background-color: #414141;
  &__carousel{
  }
  &__cell{
    width: 100%;
    height: calc(100vh - 135px);
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &__content{
    cursor: initial;
    margin-left: 60%;
    margin-bottom: 65px;
    @media (max-width: $breakpoint-xl){
      margin-left: 50%;
    }
    @media (max-width: $breakpoint-lg){
      margin-left: 0;
      text-align: center;
      .btn{
        margin: auto;
      }
    }
  }
  &__subtitle{
    display: block;
    font-size: 36px;
    font-weight: normal;
    line-height: normal;
    color: var(--col-black);
    margin-bottom: 10px;
    @media (max-width: $breakpoint-sm){
      font-size: 30px;
    }
  }
  &__title{
    font-size: 60px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    margin-bottom: 40px;
    @media (max-width: $breakpoint-sm){
      font-size: 45px;
    }
    strong{
      font-weight: bold;
    }
  }

  .flickity-prev-next-button{
    color: rgba(255,255,255,0.5);
    font-size: 50px;
    @media (max-width: $breakpoint-sm) {
      font-size: 30px;
    }
  }
  .flickity-prev-next-button.previous {
    left: 30px;
    @media (max-width: $breakpoint-md) {
      left: 15px;
    }
  }
  .flickity-prev-next-button.next {
    right: 30px;
    @media (max-width: $breakpoint-md) {
      right: 15px;
    }
  }


}



.home-about{
  background: url(../img/background/home-about.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85;
    background-blend-mode: darken;
    background-image: linear-gradient(rgba(17, 22, 38, 0.75), rgba(17, 22, 38, 0.75));
  }
}



.home-column{
  margin-bottom: 30px;
  &.--links{
    @media (max-width: 475px){
      @include grid-size(100%);
    }
  }
  &:hover{
    .home-column__block{
      box-shadow: 0 11px 25px -3px rgba(0,0,0,0.15);
    }
  }
  &.--modifier{
    margin-bottom: 50px;
  }
  &__block{
    height: 100%;
    max-width: 270px;
    background-color: #fff;
    @include transition;
    &.--type-2{
      max-width: 350px;
      @media (max-width: $breakpoint-sm){
        margin: auto;
      }
    }
    &.--link{
      margin: auto;
    }
  }
  &__head{
    overflow: hidden;
  }
  &__image{
  }
  &__content{
    padding: 10px 15px 30px 15px;
    background-color: #fff;
  }
  &__title{
    display: block;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 22px;
    line-height: normal;
    color: var(--col-black);
    margin-bottom: 15px;
  }
  &__text{
    color: #a0a0a0;
  }
  &__{}
}


.home-skill-center{
  background: url(../img/background/home-skill-center.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__video{
    max-width: 570px;
    width: 100%;
    height: 315px;
    display: block;
    margin: auto;
    @media (max-width: $breakpoint-lg){
      margin: 30px auto auto;
    }
  }

  @media (max-width: $breakpoint-sm){
    .btn{
      width: 150px;
    }
  }
  @media (max-width: 374px){
    .btn{
      width: 130px;
    }
  }
}

.home-tournaments{
  background: url(../img/background/home-tournaments.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  @media (max-width: $breakpoint-lg){
    img{
      margin-bottom: 30px;
    }
  }
}


.home-form{
  position: relative;
  max-width: 570px;
  &__input{
    border: 0;
    padding-right: 180px;
    @media (max-width: $breakpoint-sm){
      padding-right: 125px;
    }
  }
  &__btn{
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    @media (max-width: $breakpoint-sm){
      width: 120px;
    }
  }
}
