@import "../tools/mixins";
@import "../tools/breakpoints";

.home-column{
  margin-bottom: 30px;
  &.--modifier{
    margin-bottom: 50px;
  }
  &__head{
    height: 180px;
    background-color: #222;
    overflow: hidden;
    &.--type-2{
      height: 235px;
    }
  }
  &__image{
    height: 180px;
    background-color: #222;
  }
  &__content{
    padding: 10px 15px 30px 15px;
    background-color: #fff;
  }

  &__title{
    display: block;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 22px;
    line-height: normal;
    color: var(--col-black);
    margin-bottom: 15px;
  }
  &__text{
    color: #a0a0a0;
  }
  &__{}
}