@import "../tools/mixins";
@import "../tools/breakpoints";



.camp-head{
  &__row{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__img{
    position: absolute;
    right: 15px;
    height: 405px;
    @media (max-width: $breakpoint-xl) {
      position: inherit;
      height: inherit;
      right: inherit;
      max-width: 100%;
    }
    @media (max-width: $breakpoint-lg) {
      margin-top: 45px;
    }
  }
  &__content{
    padding: 38px 0;
  }
  &__price{
    margin-bottom: 25px;
    span{
      display: inline-block;
    }
    span:nth-child(1){
      font-size: 36px;
      font-weight: bold;
      line-height: normal;
      color: var(--col-primary);
    }
    span:nth-child(2){
      font-size: 20px;
      font-weight: normal;
      line-height: normal;
      color: var(--col-black);
    }
  }
  &__bottom{
    @media (max-width: $breakpoint-sm) {
      .column {
        @include grid-size(50%);
      }
      .column:nth-child(1){
        @include grid-size(100%);
      }
      .column{
        margin-bottom: 15px;
      }
    }
  }
  &__bottom-title{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    color: var(--col-black);
  }
}


.camp-steps{
  text-align: center;
  margin-bottom: 30px;
  &__head{
    height: 105px;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 10px;
    }
  }
  &__title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: var(--col-primary);
    margin-bottom: 15px;
  }
  &__txt{
    max-width: 300px;
    margin: auto;
  }
}


.camp-data{
  padding: 60px 0 30px 0;
  background-color: var(--col-light-gray);
  &__column{
    margin-bottom: 30px;
  }
  &__txt{
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: var(--col-grey);
    @media (max-width: $breakpoint-xl) {
      text-align: center;
    }
  }
  &__icon{
    position: relative;
    top: 3px;
    display: inline-block;
    font-size: 24px;
    color: var(--col-black);
    margin-right: 5px;
  }
}


.camp-info{
  &__column{
    margin-bottom: 60px;
  }
  &__title{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    color: var(--col-black);
    margin-bottom: 15px;
  }
  &__{}
}



#camp-map{
  height: 400px;
  background-color: #222;
}

.camp-sign{
  position: relative;
  background: url("../img/background/camp-sign-bg.png")center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  @media (max-width: $breakpoint-sm){
    .btn:nth-of-type(1){
      margin-bottom: 15px;
    }
  }
}




.shop-table{
  &__head{
    position: relative;
    padding: 12px 29px;
    bottom: -1px;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
    color: var(--col-black);
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    background-color: #fff;
  }
  &__content{
    padding: 20px 25px;
    border: 1px solid #d8d8d8;
  }
  &__head-row{
    margin: 0 -5px 20px -5px;
  }
  &__row{
    margin: 0 -5px 10px -5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    &:last-of-type{
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  &__column{
    padding: 0 5px;
    @include grid-size(33.3333%);
  }
  &__title{
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.56;
    color: var(--col-black);
  }
  &__txt{
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    color: var(--col-grey);
  }
  &__notify{
    margin-top: 30px;
  }
}