@import "../tools/mixins";
@import "../tools/breakpoints";


.footer{
  padding: 80px 0;
  height: 481px;
  opacity: 0.75;
  background-color: #000000;

  &__title{
    display: block;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.39;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid  rgba(160, 160, 160, 0.6);
  }
  &__links{
    li{}
    a{
      font-family: 'Myriad Pro', sans-serif;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.79;
      color: #ffffff;
      transition: all 0.2s ease;
      &:hover{
        color: var(--col-primary);
      }
    }
  }
}


.copyright{
  height: 85px;
  background-color: var(--col-black);
}