@import "../tools/mixins";
@import "../tools/breakpoints";


.top-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #414141;
  &__container{
    margin: auto;
    max-width: 1310px;
    padding: 0 15px;
  }
  &__row{
    height: 35px;
    @media (max-width: 655px){
      height: 45px;
      padding: 5px 0;
      .column{
        @include grid-size(100%);
        text-align: center;
      }
    }
    @media (max-width: $breakpoint-sm){
      height: 45px;
    }
  }

  &__right{
    @include grid-size(290px);
  }

  &__info{
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
    color: #a0a0a0;
  }
  &__list{
    text-align: right;
    @media (max-width: 655px){
      text-align: center;
    }
  }
  &__list-item{
    display: inline-block;
    & + &{
      margin-left: 40px;
    }
  }
  &__list-link{
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: #a0a0a0;
    @include transition;
    &:hover{
      color: #fff;
    }
  }


}


.header{
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--col-black);
  @media (max-width: 655px){
    top: 45px;
  }
  &.js-open{
    @media (max-width: $breakpoint-lg){
      .header__row{
        height: 100px;
      }
      .header__logo{
        max-width: 100%;
      }
      .hamburger{
        top: 8px;
        padding: 23px 15px;
      }
    }
    @media (max-width: $breakpoint-sm){
      .header__row{
        height: 65px;
      }
      .header__logo{
        max-width: 155px;
      }
      .hamburger{
        top: 0;
        padding: 15px;
      }
    }
  }
  &__container{
    margin: auto;
    max-width: 1310px;
    padding: 0 15px;
  }
  &__row{
    height: 100px;
    @include transition;
    @media (max-width: $breakpoint-lg){
      height: 65px;
    }
  }

  &__logo{
    @include transition;
    @media (max-width: $breakpoint-lg){
      max-width: 155px;
    }
  }
}


.header-nav{
  font-size: 0;
  text-align: center;
  &__item{
    display: inline-block;
    @media (max-width: $breakpoint-lg) {
      display: block;
      margin-bottom: 25px;
    }
    & + & {
      //margin-left: 35px;
      //@media (max-width: $breakpoint-lg) {
      //  margin-left: 0;
      //}
    }
    &:hover{
      > .header-megamenu{
        display: block;
        @media (max-width: $breakpoint-lg) {
          display: none;
        }
      }
    }
  }
  &__link{
    position: relative;
    padding: 40px 17px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    color: #fff;
    @include transition;
    @media (max-width: $breakpoint-lg) {
      padding: 5px;
    }
    &.active{
      &:after{
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -5px;
        bottom: 25px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--col-primary);
        @media (max-width: $breakpoint-lg) {
          bottom: -10px;
        }
      }
    }
    &:hover{
      color: var(--col-primary);

    }
    @media (max-width: $breakpoint-lg) {
      &:before{
        content: '';
        right: -10px;
        top: 11px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #ffffff transparent transparent transparent;
        @include transition;
      }
      &.js-link-active + .header-megamenu{
        display: block;
      }
      &.js-link-active{
        &:before{
          transform: scale(-1);
        }
      }

    }
  }
}


.header-megamenu{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 135px;
  height: 345px;
  background-color: #fff;
  @media (max-width: $breakpoint-lg) {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: initial;
    background-color: transparent;
  }
  &__container{
    margin: auto;
    padding: 0 15px;
    max-width: 1310px;
  }
  &__wrap{
    padding: 35px 0;
    @media (max-width: $breakpoint-lg) {
      padding: 20px 0 0 0;
    }
  }

  &__bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: var(--col-primary);
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  &__title{
    display: block;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    color: var(--col-black);
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  &__column{
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  &__list{
    text-align: left;
    @media (max-width: $breakpoint-lg) {
      text-align: center;
    }
  }
  &__list-item{
    display: block;
  }
  &__list-link{
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.88;
    color: var(--col-grey);
    @include transition;
    &:hover{
      color: var(--col-primary);
    }
  }
  &__block{
    max-width: 270px;
    margin: auto;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    &:hover{
      .header-megamenu__caption{
        color: #fff;
        background-color: var(--col-primary);
      }
    }
  }
  &__caption{
    position: relative;
    top: -1px;
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    color: var(--col-black);
    @include transition;
  }
}





.header-mobile{
  @media (max-width: $breakpoint-lg) {
    position: absolute;
    top: 50px;
    right: 0;
    min-height: calc(100vh - 100px);
    bottom: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--col-black);
    padding-bottom: 45px;
    transform: translateX(300px);
    @include transition;
    @media (max-width: $breakpoint-sm) {
      top: 32px;
    }
    &.js-show{
      transform: translateX(0);
    }
    .column{
      @include grid-size(100%);
    }
  }
}


.header-menu {
  text-align: right;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  @media (max-width: $breakpoint-lg) {
    text-align: center;
    justify-content: center;
  }
  &__item {
    display: inline-block;
    & + & {
      margin-left: 40px;
    }
  }
  &__link {
    display: block;
    position: relative;
    font-size: 26px;
    color: #fff;
    @include transition;
    &.--text{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      line-height: normal;
      div{
        vertical-align: middle;
        width: 35px;
        display: inline-block;
      }
    }
    &.--cart{
      i{
        position: absolute;
        top: -2px;
        left: 21px;
        padding: 0 4px;
        vertical-align: middle;
        height: 15px;
        text-align: center;
        font-size: 13px;
        border-radius: 10px;
        line-height: 15px;
        font-family: 'Myriad Pro', sans-serif;
        background-color: var(--col-primary);
      }
    }
  }
}


.header-drop{
  position: relative;
  right: 20px;
  &.is-active{
    .header-drop__icon{
      transform: scale(-1);
    }
    .header-drop__block{
      display: block;
    }
  }
  &__btn{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 28px;
    color: #afafaf;
    padding-right: 25px;
    @include transition;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
    &:hover{
      color: #fff;
    }
  }
  &__icon{
    position: absolute;
    right: 0;
    top: 11px;
    z-index: -1;
    font-size: 8px;
    color: #fff;
    @include transition;
  }
  &__block{
    display: none;
    position: absolute;
    right: 0;
    top: 65px;
    width: 225px;
    padding: 15px;
    background-color: var(--col-black);
    text-align: left;
    @media (max-width: $breakpoint-lg) {
      display: block;
      margin-top: 30px;
      text-align: center;
      padding: 0;
      right: initial;
      top: initial;
      position: relative;
    }
  }


  &__list{}
  &__item{
    display: block;
    margin-bottom: 25px;
    &:nth-last-child(1){
      margin-bottom: 0;
      a{
        color: var(--col-grey);
        &:hover{
          color: #fff;
        }
      }
    }
  }
  &__link{
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    @include transition;
    &:hover{
      color: var(--col-primary);
    }
    &.active{
      padding-left: 20px;
      color: var(--col-primary);
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--col-primary);
      }
    }
  }
}



.hamburger {
  display: none;
}

@media (max-width: $breakpoint-lg) {
  .hamburger {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    overflow: visible;
    margin: 0;
    padding: 23px 15px;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    @media (max-width: $breakpoint-lg) {
      top: 0;
      padding: 15px;
    }
    &, .hamburger__box {
      cursor: pointer;
      display: inline-block;
    }
    &__box {
      position: relative;
      width: 40px;
      height: 24px;
      top: 6px;
    }
    &__inner {
      display: block;
      margin-top: -2px;
      &, &:before, &:after {
        position: absolute;
        width: 40px;
        height: 3px;
        border-radius: 10px;
        top: auto;
        bottom: 0;
        -webkit-transition-delay: .13s;
        transition-delay: .13s;
        -webkit-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        -webkit-transition-duration: .13s;
        transition-duration: .13s;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        background-color: #fff;
      }
      &:before, &:after {
        content: '';
        display: block;
      }
      &:before {
        top: -10px;
        -webkit-transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19), -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
      }
      &:after {
        bottom: -10px;
        top: -20px;
        -webkit-transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear;
        transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear;
      }
    }
  }
  .is-active{
    .hamburger__inner{
      -webkit-transition-delay: .22s;
      transition-delay: .22s;
      -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
      transition-timing-function: cubic-bezier(.215,.61,.355,1);
      -webkit-transform: translate3d(0,-10px,0) rotate(-45deg);
      transform: translate3d(0,-10px,0) rotate(-45deg);
    }
    .hamburger__inner:before{
      top: 0;
      -webkit-transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .hamburger__inner:after{
      top: 0;
      -webkit-transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
      transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
      opacity: 0;
    }
  }
}