@import "../tools/mixins";
@import "../tools/breakpoints";


.app-head-sm{
  margin-top: 135px;
  height: 100px;
  background: url(../img/background/small-head-bg.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.breadcrumbs{
  position: relative;
  &__list{
  }
  &__item{
    position: relative;
    display: inline-block;
  }
  &__item + &__item{
    padding-left: 10px;
  }
  &__item + &__item:before{
    content: '>';
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    left: 1px;
    top: 0;
    color: rgba(255, 255, 255, 0.65);
  }
  &__link{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: rgba(255, 255, 255, 0.65);
    @include transition;
    &:hover{
      color: rgba(255, 255, 255, 1);
    }
    &.active:hover{
      color: rgba(255, 255, 255, 0.65);
    }
  }
}

.app-training{
  &__column{
    max-width: 380px;
    margin-bottom: 30px;
  }
  &__content{
    position: relative;
    @include transition;
    &:hover{
      box-shadow: 0 11px 25px -3px rgba(0,0,0,0.15);
    }
  }
  &__overlay{
    background-color: #111626;
  }
  &__overlay-title{
    display: block;
    padding: 0 15px;
    font-size: 22px;
    font-weight: 600;
    line-height: 45px;
    color: #fff;
  }
}


