@import "../tools/mixins";
@import "../tools/breakpoints";


.app-training{
  &__column{
    max-width: 380px;
    margin-bottom: 30px;
  }
  &__content{
    position: relative;
    @include transition;
    &:hover{
      box-shadow: 0 11px 25px -3px rgba(0,0,0,0.15);
    }
  }
  &__overlay{
    background-color: #111626;
  }
  &__overlay-title{
    display: block;
    padding: 0 15px;
    font-size: 22px;
    font-weight: 600;
    line-height: 45px;
    color: #fff;
  }
}


