@import "../tools/mixins";
@import "../tools/breakpoints";


.btn{
  position: relative;
  display: block;
  outline: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  backface-visibility: hidden;
}

.btn-primary{
  width: 100%;
  max-width: 170px;
  padding: 0;
  height: 40px;
  border-radius: 4px;
  background-color: var(--col-primary);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  @include transition;
  &:hover{
    box-shadow: 0 0 13px rgba(78, 78, 78, 0.2);
  }
}

